$color-indigoblue:				#030f40;
$color-hardcoalgrey:			#222;
$color-rhinogrey:				#666;
$color-denimblue:				#32407d;//21306d
$color-limegreen:				#9dce40;
$color-peargreen:				#85b141;
$color-silvergrey:				#e6e6e6;
$color-coldgrey:				#e2e3e9;
$color-lightgrey:				#ccc;
$color-foggrey:					#dadada;
