$spacing-default: 4rem !default;

$spacing-quarter: round($spacing-default/4);
$spacing-third: round($spacing-default/3);
$spacing-half: round($spacing-default/2);
$spacing-oneandhalf: round($spacing-default*1.5);
$spacing-double: round($spacing-default*2);